<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UFOFormat</key>
    <integer>2</integer>
    <key>com.fontlab.v2.tth</key>
    <dict>
      <key>stems</key>
      <dict>
        <key>X: 21</key>
        <dict>
          <key>horizontal</key>
          <integer>0</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>120</key>
            <integer>3</integer>
            <key>167</key>
            <integer>4</integer>
            <key>215</key>
            <integer>5</integer>
            <key>262</key>
            <integer>6</integer>
            <key>72</key>
            <integer>2</integer>
          </dict>
          <key>width</key>
          <integer>21</integer>
        </dict>
        <key>X: 31</key>
        <dict>
          <key>horizontal</key>
          <integer>0</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>113</key>
            <integer>4</integer>
            <key>146</key>
            <integer>5</integer>
            <key>178</key>
            <integer>6</integer>
            <key>49</key>
            <integer>2</integer>
            <key>81</key>
            <integer>3</integer>
          </dict>
          <key>width</key>
          <integer>31</integer>
        </dict>
        <key>X: 33</key>
        <dict>
          <key>horizontal</key>
          <integer>0</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>107</key>
            <integer>4</integer>
            <key>137</key>
            <integer>5</integer>
            <key>167</key>
            <integer>6</integer>
            <key>46</key>
            <integer>2</integer>
            <key>76</key>
            <integer>3</integer>
          </dict>
          <key>width</key>
          <integer>33</integer>
        </dict>
        <key>X: 44</key>
        <dict>
          <key>horizontal</key>
          <integer>0</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>103</key>
            <integer>5</integer>
            <key>125</key>
            <integer>6</integer>
            <key>35</key>
            <integer>2</integer>
            <key>57</key>
            <integer>3</integer>
            <key>80</key>
            <integer>4</integer>
          </dict>
          <key>width</key>
          <integer>44</integer>
        </dict>
        <key>Y: 22</key>
        <dict>
          <key>horizontal</key>
          <integer>1</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>114</key>
            <integer>3</integer>
            <key>160</key>
            <integer>4</integer>
            <key>205</key>
            <integer>5</integer>
            <key>250</key>
            <integer>6</integer>
            <key>69</key>
            <integer>2</integer>
          </dict>
          <key>width</key>
          <integer>22</integer>
        </dict>
        <key>Y: 24</key>
        <dict>
          <key>horizontal</key>
          <integer>1</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>105</key>
            <integer>3</integer>
            <key>146</key>
            <integer>4</integer>
            <key>188</key>
            <integer>5</integer>
            <key>230</key>
            <integer>6</integer>
            <key>63</key>
            <integer>2</integer>
          </dict>
          <key>width</key>
          <integer>24</integer>
        </dict>
        <key>Y: 33</key>
        <dict>
          <key>horizontal</key>
          <integer>1</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>107</key>
            <integer>4</integer>
            <key>137</key>
            <integer>5</integer>
            <key>167</key>
            <integer>6</integer>
            <key>46</key>
            <integer>2</integer>
            <key>76</key>
            <integer>3</integer>
          </dict>
          <key>width</key>
          <integer>33</integer>
        </dict>
        <key>Y: 53</key>
        <dict>
          <key>horizontal</key>
          <integer>1</integer>
          <key>round</key>
          <dict>
            <key>0</key>
            <integer>1</integer>
            <key>104</key>
            <integer>6</integer>
            <key>29</key>
            <integer>2</integer>
            <key>48</key>
            <integer>3</integer>
            <key>67</key>
            <integer>4</integer>
            <key>85</key>
            <integer>5</integer>
          </dict>
          <key>width</key>
          <integer>53</integer>
        </dict>
      </dict>
    </dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3337</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>640</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Use Extension Kerning</string>
        <key>value</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>Export Folder</string>
        <key>value</key>
        <string>Mozilla/Mozilla Headline</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Variable Font Origin</string>
        <key>value</key>
        <string>1CA611C0-C413-4EDD-97C5-4BB7C3523F95</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>5356B65B-4BBD-4DDE-950E-1281FA1DFE30</key>
        <dict>
          <key>HV</key>
          <string>116</string>
          <key>OV</key>
          <string>124</string>
          <key>nV</key>
          <string>112</string>
          <key>oV</key>
          <string>120</string>
        </dict>
        <key>BF23C337-C879-4221-A753-FBECF8193E9D</key>
        <dict>
          <key>HV</key>
          <string>128</string>
          <key>OH</key>
          <string>108</string>
          <key>OV</key>
          <string>136</string>
          <key>nV</key>
          <string>124</string>
          <key>nd</key>
          <string>104</string>
          <key>oH</key>
          <string>104</string>
          <key>oV</key>
          <string>132</string>
          <key>tH</key>
          <string>96</string>
        </dict>
        <key>m003</key>
        <dict>
          <key>HH</key>
          <string>96</string>
          <key>HV</key>
          <string>116</string>
          <key>OH</key>
          <string>108</string>
          <key>OV</key>
          <string>124</string>
          <key>nV</key>
          <string>112</string>
          <key>nd</key>
          <string>104</string>
          <key>oH</key>
          <string>104</string>
          <key>oV</key>
          <string>120</string>
          <key>tH</key>
          <string>96</string>
        </dict>
        <key>m004</key>
        <dict>
          <key>HH</key>
          <string>50</string>
          <key>HV</key>
          <string>58</string>
          <key>OH</key>
          <string>54</string>
          <key>OV</key>
          <string>62</string>
          <key>nV</key>
          <string>56</string>
          <key>nd</key>
          <string>52</string>
          <key>oH</key>
          <string>52</string>
          <key>oV</key>
          <string>60</string>
          <key>tH</key>
          <string>48</string>
        </dict>
        <key>m005</key>
        <dict>
          <key>HH</key>
          <string>54</string>
          <key>HV</key>
          <string>66</string>
          <key>OH</key>
          <string>58</string>
          <key>OV</key>
          <string>70</string>
          <key>nV</key>
          <string>64</string>
          <key>nd</key>
          <string>56</string>
          <key>oH</key>
          <string>56</string>
          <key>oV</key>
          <string>68</string>
          <key>tH</key>
          <string>52</string>
        </dict>
        <key>m006</key>
        <dict>
          <key>nV</key>
          <string>124</string>
        </dict>
        <key>m007</key>
        <dict>
          <key>HH</key>
          <string>116</string>
          <key>HV</key>
          <string>176</string>
          <key>OH</key>
          <string>128</string>
          <key>OV</key>
          <string>184</string>
          <key>nV</key>
          <string>172</string>
          <key>nd</key>
          <string>124</string>
          <key>oH</key>
          <string>124</string>
          <key>oV</key>
          <string>180</string>
          <key>tH</key>
          <string>116</string>
        </dict>
      </dict>
      <key>KernOnKerningWeightLimit</key>
      <integer>36000</integer>
      <key>KernOnRegenerateGroups</key>
      <integer>1</integer>
      <key>KernOnVersion</key>
      <string>1.31</string>
    </dict>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Axis Location</string>
        <key>value</key>
        <array>
          <dict>
            <key>Axis</key>
            <string>Weight</string>
            <key>Location</key>
            <integer>700</integer>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.userData</key>
    <dict>
      <key>Letterink-NibData</key>
      <dict>
        <key>AngleInDegrees</key>
        <integer>45</integer>
        <key>MainAxisWidth</key>
        <integer>30</integer>
        <key>MinorAxisWidth</key>
        <integer>15</integer>
      </dict>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>51B71B3B-4824-4448-9783-207CE7A0B79D</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.guides</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-132</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-1</integer>
        <key>y</key>
        <integer>706</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-1</integer>
        <key>y</key>
        <integer>782</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-92</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-1</integer>
        <key>y</key>
        <integer>574</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>10</integer>
        <key>y</key>
        <integer>322</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-1</integer>
        <key>y</key>
        <integer>690</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>590</integer>
        <key>y</key>
        <integer>482</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>669</integer>
        <key>y</key>
        <integer>212</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.instance.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Export Folder</string>
        <key>value</key>
        <string>Mozilla/Mozilla Headline/Standard/</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Remove Glyphs</string>
        <key>value</key>
        <array>
          <string>g.ss02</string>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>Decompose Glyphs</string>
        <key>value</key>
        <array>
          <string>Aogonek</string>
          <string>AE</string>
          <string>Eth</string>
          <string>Lslash</string>
          <string>OE</string>
          <string>Aogonek.ss03</string>
          <string>AE.ss03</string>
          <string>Eth.ss03</string>
          <string>Lslash.ss03</string>
          <string>eogonek</string>
          <string>lslash</string>
          <string>f_b</string>
          <string>f_f</string>
          <string>f_f_i</string>
          <string>f_f_j</string>
          <string>f_f_l</string>
          <string>f_h</string>
          <string>f_j</string>
          <string>f_k</string>
          <string>f_thorn</string>
          <string>f_t</string>
          <string>fi</string>
          <string>fl</string>
          <string>t_t</string>
          <string>nine</string>
          <string>exclamdown</string>
          <string>questiondown</string>
          <string>exclamdown.case</string>
          <string>questiondown.case</string>
          <string>parenright</string>
          <string>braceright</string>
          <string>bracketright</string>
          <string>quotedblleft</string>
          <string>quoteleft</string>
          <string>guillemetleft</string>
          <string>guillemetright</string>
          <string>guilsinglright</string>
          <string>divide</string>
          <string>notequal</string>
          <string>less</string>
          <string>greaterequal</string>
          <string>lessequal</string>
          <string>plusminus</string>
          <string>perthousand</string>
          <string>caroncomb</string>
          <string>dieresiscomb.case</string>
          <string>dotaccentcomb.case</string>
          <string>gravecomb.case</string>
          <string>acutecomb.case</string>
          <string>circumflexcomb.case</string>
          <string>caroncomb.case</string>
          <string>ringcomb.case</string>
          <string>tildecomb.case</string>
          <string>dieresiscomb.case.narrow</string>
          <string>periodcentered.loclCAT.case</string>
          <string>oneinferior</string>
          <string>twoinferior</string>
          <string>threeinferior</string>
          <string>fourinferior</string>
          <string>quotesinglbase</string>
          <string>quotedblbase</string>
          <string>quotedblright</string>
          <string>bulletoperator</string>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>Axis Location</string>
        <key>value</key>
        <array>
          <dict>
            <key>Axis</key>
            <string>Weight</string>
            <key>Location</key>
            <integer>700</integer>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.master.name</key>
    <string>Bold Italic</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute_J.loclNLD</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>J</string>
      <string>Jacute</string>
      <string>K</string>
      <string>L</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>A.ss03</string>
      <string>Aacute.ss03</string>
      <string>Acircumflex.ss03</string>
      <string>Adieresis.ss03</string>
      <string>Agrave.ss03</string>
      <string>Aogonek.ss03</string>
      <string>Aring.ss03</string>
      <string>Atilde.ss03</string>
      <string>AE.ss03</string>
      <string>B.ss03</string>
      <string>D.ss03</string>
      <string>Eth.ss03</string>
      <string>E.ss03</string>
      <string>Eacute.ss03</string>
      <string>Ecircumflex.ss03</string>
      <string>Edieresis.ss03</string>
      <string>Egrave.ss03</string>
      <string>Eogonek.ss03</string>
      <string>F.ss03</string>
      <string>H.ss03</string>
      <string>K.ss03</string>
      <string>L.ss03</string>
      <string>Ldot.ss03</string>
      <string>Lslash.ss03</string>
      <string>N.ss03</string>
      <string>Nacute.ss03</string>
      <string>Ntilde.ss03</string>
      <string>P.ss03</string>
      <string>Thorn.ss03</string>
      <string>R.ss03</string>
      <string>Germandbls.ss03</string>
      <string>U.ss03</string>
      <string>Uacute.ss03</string>
      <string>Ucircumflex.ss03</string>
      <string>Udieresis.ss03</string>
      <string>Ugrave.ss03</string>
      <string>M.ss04</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>eogonek</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>ij</string>
      <string>iacute_j.loclNLD</string>
      <string>j</string>
      <string>jdotless</string>
      <string>j_acutecomb</string>
      <string>k</string>
      <string>l</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>a.ss01</string>
      <string>aacute.ss01</string>
      <string>acircumflex.ss01</string>
      <string>adieresis.ss01</string>
      <string>agrave.ss01</string>
      <string>aogonek.ss01</string>
      <string>aring.ss01</string>
      <string>atilde.ss01</string>
      <string>g.ss02</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_l</string>
      <string>f_h</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_thorn</string>
      <string>f_t</string>
      <string>fi</string>
      <string>fl</string>
      <string>t_t</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>pi</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.zero</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>space</string>
      <string>nbspace</string>
      <string>CR</string>
      <string>.notdef</string>
      <string>.null</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>periodcentered.loclCAT</string>
      <string>periodcentered.loclCAT.case</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>softhyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>florin</string>
      <string>dragon</string>
      <string>dragonFace</string>
      <string>personalComputer</string>
      <string>dragon.VF</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>literSign</string>
      <string>daggerdbl</string>
      <string>estimated</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>infinity</string>
      <string>integral</string>
      <string>Ohm</string>
      <string>increment</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>micro</string>
      <string>partialdiff</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>lozenge</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>caroncomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>dieresiscomb.narrow</string>
      <string>dieresiscomb.case.narrow</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>firsttonechinese</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>mozilla_logo</string>
      <string>mozilla_symbol</string>
      <string>mozilla_wordmark</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>Germandbls.ss03</key>
      <string>uni1E9E.ss03</string>
      <key>Jacute</key>
      <string>uni004A0301</string>
      <key>Ohm</key>
      <string>uni2126</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>caroncomb.case</key>
      <string>uni030C.case</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dieresiscomb.case.narrow</key>
      <string>uni0308.case.narrow</string>
      <key>dieresiscomb.narrow</key>
      <string>uni0308.narrow</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>dotaccentcomb.case</key>
      <string>uni0307.case</string>
      <key>dragon</key>
      <string>u1F409</string>
      <key>dragon.VF</key>
      <string>u1F409.VF</string>
      <key>dragonFace</key>
      <string>u1F432</string>
      <key>euro</key>
      <string>Euro</string>
      <key>firsttonechinese</key>
      <string>uni02C9</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>idotaccent</key>
      <string>i.loclTRK</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>increment</key>
      <string>uni2206</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>literSign</key>
      <string>uni2113</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>onethird</key>
      <string>uni2153</string>
      <key>personalComputer</key>
      <string>u1F4BB</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>twothirds</key>
      <string>uni2154</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>dragon.VF</string>
      <string>softhyphen</string>
    </array>
  </dict>
</plist>
